<tr>
    <td>
        <p>
            We are delighted to inform you that your order on
            <a href="https://wordhive.ng" style="color: #171717">
                Wordhive
            </a>
            has been successfully confirmed. We appreciate your trust in our
            platform for your content needs.
        </p>
        <p>Here is a summary of your order:</p>
        <ul>
            <li>
                <span style="font-weight: 600"> Service Name: </span>
                {{serviceName}}
            </li>
            <li>
                <span style="font-weight: 600"> Service Quality: </span>
                {{serviceQuality}}
            </li>
            <li>
                <span style="font-weight: 600"> Service Volume: </span>
                {{serviceVolume}}
            </li>
            <li>
                <span style="font-weight: 600"> Total Amount: </span>
                {{totalAmount}}
            </li>
            <li>
                <span style="font-weight: 600"> Payment Method: </span>
                {{paymentMethod}}
            </li>
            <li>
                <span style="font-weight: 600"> Order Reference: </span>
                {{orderReference}}
            </li>
            <li>
                <span style="font-weight: 600"> Order Date: </span>
                {{orderDate}}
            </li>
        </ul>
        <p>
            Please note that your order is currently being processed by
            our team. You can also track your order and view its status in
            real time by signing in to your account and accessing your
            dashboard.
        </p>
    </td>
</tr>
<tr align="center">
    <td>
        <a href="https://wordhive.ng/account">
            <button style="
                    background-color: #009cff;
                    color: white;
                    font-size: 1.125rem;
                    border-radius: 0.5rem;
                    border: none;
                    padding: 0.5rem 2rem;
                  ">
                View order status
            </button>
        </a>
    </td>
</tr>
<tr>
    <td>
        <p>
            Should you have any questions or require any assistance
            regarding your order, please don't hesitate to contact our
            support team. We are here to help and ensure your
            satisfaction.
        </p>
        <p>
            Thank you for choosing
            <a href="https://wordhive.ng" style="color: #171717">
                Wordhive
            </a>
            as your content resource platform. We hope to serve you even
            better.
        </p>
    </td>
</tr>